@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Anurbs - Análise de características urbanas por meio de Visão Computacional é uma plataforma
    que permite ao usuário facilmente selecionar e visualizar características urbanas dentro de uma
    região de interesse.</p>
